@import "./variables.scss";

.rounded-default {
  border-radius: $rounded;
}

.bg-asset1 {
  background-color: $asset1 !important;
}
.bg-asset2 {
  background-color: $asset2 !important;
}
.bg-asset3 {
  background-color: $asset3 !important;
}

.text-asset1 {
  color: $asset1 !important;
}

a {
  text-decoration: none;
  color: $asset2 !important;
  transition: all 0.5s;
  letter-spacing: 1px;
  font-weight: 400;
  &:hover {
    color: $asset1 !important;
  }
}

.nav-link {
  text-decoration: none;
  color: $asset2 !important;
  transition: all 0.5s;
  font-weight: 600;
  &:hover {
    color: $asset1 !important;
  }
}

.active {
  color: $asset1 !important;
}

.ls-1 {
  letter-spacing: 1px !important;
}
